*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden !important;
}
@media (max-width:1200px){
    .card h1{
        font-size: 27px;
    }
    .three-cards__card h1{
        font-size: 25px;
    }
    .three-cards__card{
        width: calc(33% - 40px) !important;
    }
    .container{
        max-width: 970px !important;
    }
    .menu__lists a{
        margin-left: 10px !important;
    }
    .footer__lists{
        margin-left: 15% !important;
    }
}

@media (max-width:992px){
    .card h1{
        font-size: 20px;
    }
    .three-cards__card h1{
        font-size: 18px;
    }
    .title{
        height: 25px !important;
    }
    .container{
        max-width: 768px !important;
    }
    .header__menu{
        margin: 10px 40% !important;
    }
    .footer__lists{
        margin-left: 5% !important;
    }
    
}
@media (max-width:767px){
    .three-cards{
        margin: 0px 0px !important;
    }
    .footer__lists{
        display: none !important;
    }
    .header__menu{
        display: none;
    }
    .card h1{
        font-size: 17.5px;
    }
    .container{
        max-width: none !important;
    }
    .card{
        width: calc(100% - 40px) !important;
    }
    .three-cards__card{
        width: calc(100% - 40px) !important;
    }
    .two-cards{
        height: 40% !important;
    }
    .three-cards{
        height: 40% !important;
    }


    .header__burger{
        display: block !important;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .header__burger span{
        content: '';
        position: absolute;
        background-color: white;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.7s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        position: absolute;
        background-color: white;
        width: 100%;
        height: 2px;
        transition: all 0.7s ease 0s;
    }
    .header__burger::before{
        top:0;
    }
    .header__burger::after{
        bottom: 0;
    }

    .active-plashka{
        transition: all 0.4s ease 0s;
        position: fixed;
        width: 100% !important;
        height: 100% !important;
        background-color: rgb(72, 15, 138);
    }
    .active .menu__lists{
        margin: 80px auto;
        display: block !important;
    }
    .active .menu__lists li{
        margin-bottom: 100px;
    }
    .active .header__burger::before{
        transform: rotate(45deg);
        top:9px;
    }
    .active .header__burger::after{
        transform: rotate(-45deg);
        bottom:9px;
    }
    .active .header__burger span{
        display: none;
    }
    .footer-menu__item{
        display: block !important;
        padding: 10px;
    }
    .item__title{
        padding-left: 25px;
        position: relative;
    }
    .item__title::after,
    .item__title::before{
        content: '';
        background-color: black;
        height: 2px;
        width: 10px;
        top: 5px;
        
    }
    .item__title::after{
        transform: rotate(-40deg);
        left:7px;
    }
    .active-spoiler_mod::after{
        transition: all 0.4s ease 0s;
        transform: rotate(40deg);
        left:7px;
    }
    .item__title::before{
        transform: rotate(40deg);
        left: 0px;
    }
    .active-spoiler_mod::before{
        transition: all 0.4s ease 0s;
        transform: rotate(-40deg);
        left:0px;
    }
    .footer-menu{
        height: 100% !important;
    }
}

.header__burger{
    margin-top: 10px;
    margin-left: 90%;
    display: none;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
}

.header{
    position: fixed;
    width: 100%;
    height: 45px;
    background-color: rgb(56, 54, 173);
}
.header__logo{
    position: absolute;
    left: 10%;
    border-radius: 50%;
    background-color: rgb(43, 18, 18);
    width: 45px;
    height: 40px;
    text-decoration: none;
}
.header__menu{
    margin: 10px 50%;
    width: 40%;
    height: 30px ;
    position: absolute;
}
.menu__lists{
    position: absolute;
    list-style: none;
    display: flex;
}
.menu__list::before{
    content: '';
    padding-left: 15px;
}
.menu__lists a{
    font-size: 19px;
    text-decoration: none;
    color:gray;
    background-color: black;
    margin-left: 50px;
}
.menu__list{
    padding-right: 15px;
}
.title{
    margin: 10px auto;
    width: 28%;
    height: 35px;
    text-align: center;
    background-color: gray;
}
.content{
    text-align: center;
    margin:10px auto;
    width: 90%;
    height: 190px;
    background-color: aquamarine;
}
.card{
    margin:20px; 
    background-color: yellow;
    width: calc(50% - 40px);
    height: 250px;
}
.two-cards{
    padding-top: 40px;
    flex-wrap: wrap;
    height: 350px;
    display: flex;
}
.three-cards__card{
    margin:20px; 
    background-color: yellow;
    width: calc(33% - 40px);
    height: 250px;
}
.three-cards{
    margin: 0px -35px;
    flex-wrap: wrap;
    height: 300px;
    display: flex;
}
.footer-menu{
    width: 100%;
    height: 50px;
    background-color: rgb(44, 113, 173);
}
.footer__lists{
    margin-top: 10px;
    margin-left: 22%;
    list-style: none;
    display: flex;
}
.footer__lists a{
    margin-left:100px;
    text-decoration: none;
    color:gray;
    font-size: 20px;
}
.title_m{
    width: 40%;
}
.plashka{
    width: 100%;
    height: 45px;
}
.footer-menu__item{
    display: none;
}
.item__title:hover{
    cursor: pointer;
}
.item__text{
    display: none;
}
.active-spoiler_mod + .item__text{
    display: block;
}